code/data/all_data.csv
code/data/dev.tsv
code/data/train.tsv
code/models/model_fit.log
code/models/model.h5
code/models/model1.weights
code/models/result_loss.png
code/models/result_out_0_acc.png
code/models/result_out_0_loss.png
code/models/result_out_1_acc.png
code/models/result_out_1_loss.png
code/data/data_train1.csv
code/data/test.tsv
code/models/model.weights
code/multi_task_model1.py
code/data/data_test.xlsx
code/data/data_train.csv
code/data/data_train.xlsx
code/data/label_j.tsv
code/data/data_train.csv
code/model_a/model_fit.log
code/model_a/model.weights
code/model_a/pred_label_j.csv
code/model_a/result_loss.png
code/model_a/result_out_0_acc.png
code/model_a/result_out_0_loss.png
code/model_a/result_out_1_acc.png
code/model_a/result_out_1_loss.png
code/model_a/submit.csv
.gitignore
code/data/merge/dev.tsv
code/data/merge/test.tsv
code/data/merge/train.tsv
code/model_b/model_fit.log
code/model_b/model.weights
code/model_b/result_loss.png
code/model_b/result_out_0_acc.png
code/model_b/result_out_0_loss.png
code/model_b/result_out_1_acc.png
code/model_b/result_out_1_loss.png
code/model_b/run.log
code/model_b/submit.csv
code/data_age/data_train.csv
code/data_age/dev.tsv
code/data_age/label_j.tsv
code/data_age/test.tsv
code/data_age/train.tsv
code/data_age/label_j/dev.tsv
code/data_age/label_j/test.tsv
code/data_age/label_j/train.tsv
code/model_a_wwm/model.weights.filepart
code/model_a_wwm/submit.csv
code/model_a_age/model_fit.log
code/model_a_age/model.weights
code/model_a_age/result_loss.png
code/model_a_age/result_out_0_acc.png
code/model_a_age/result_out_0_loss.png
code/model_a_age/result_out_1_acc.png
code/model_a_age/result_out_1_loss.png
code/model_a_age/submit.csv
code/model_a_wwm/model.weights
code/model_b_wwm/model_fit.log
code/model_b_wwm/model.weights
code/model_b_wwm/result_loss.png
code/model_b_wwm/result_out_0_acc.png
code/model_b_wwm/result_out_0_loss.png
code/model_b_wwm/result_out_1_acc.png
code/model_b_wwm/result_out_1_loss.png
code/model_b_wwm/submit.csv
code/model_a_wwm_1/model_fit.log
code/model_a_wwm_1/model.weights
code/model_a_wwm_1/pred_label_j.csv
code/model_a_wwm_1/result_loss.png
code/model_a_wwm_1/result_out_0_acc.png
code/model_a_wwm_1/result_out_0_loss.png
code/model_a_wwm_1/result_out_1_acc.png
code/model_a_wwm_1/result_out_1_loss.png
code/model_a_wwm_1/submit.csv
code/data/merge_wwm_1/dev.tsv
code/data/merge_wwm_1/test.tsv
code/data/merge_wwm_1/train.tsv
